<div id="{{ form.vars.id }}">
    <div class="form-group">
        <button data-toggle="tooltip" data-placement="left" title="Supprimer" class="removeColllection btn btn-link" data-remove="contact_files___name__"><span class="glyphicon glyphicon-remove"></span></button>
        <input type="file" id="contact_files___name___file" name="contact[files][__name__][file]" />
    </div>
</div>
