<div id="{{ form.vars.id }}">
    <div class="form-group">
        <button data-toggle="tooltip" data-placement="left" title="Supprimer" class="removeColllection btn btn-link" data-remove="{{ form.parent.vars.id }}___name__"><span class="glyphicon glyphicon-remove"></span></button>
        <input type="file" id="{{ form.parent.vars.id }}___name___file" name="{{ form.vars.full_name }}[file]" />
    </div>
</div>
