<div id="contact_files___name__">
    <div class="form-group">
        <a data-toggle="tooltip" data-placement="left" title="Supprimer" href="#" class="removeColllection" data-remove="contact_files___name__"><span class="glyphicon glyphicon-remove"></span></a>
        <input type="file" id="contact_files___name___file" name="contact[files][__name__][file]" />
    </div>
</div>
