<div class="text-center" style="margin: 50px;">
    <img src="{{ asset('img/cog.png') }}" alt="Page en construction" style="width:250px; height:250px; margin-bottom: 50px;"/>
    <p class="lead"> Oops ! Cette page est en construction !</p>
</div>