{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {% include 'admin/news/newsTemplate.html.twig' with { 'new' : news} %}
        </div>
    </div>
{% endblock %}

