{% extends 'app/layout.html.twig' %}

{% block body %}
    {% for gallery in galleries %}
        {% if gallery.category == category %}
            <div class="row well">
                <h3>{{ gallery.title }} <small>({{ gallery.getLength() }})</small></h3>
                <hr />
                {% include 'admin/media/widgetListTemplate.html.twig' with {'media' : gallery} %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
