{% extends 'app/layout.html.twig' %}

{% block body %}
    <section id="cgu">
        <div class="row">
            <div class="well col-md-10 col-md-offset-1 text-justify">
                <h2 class="text-center">Conditions Générales d'Utilisation</h2>
                <p>
                    En complément des Mentions Légales, ces Conditions Générales d'Utilisations (CGU) ci-dessous s'adressent à tout internaute qui accède et utilise le site.
                    Ce dernier s'engage à les accepter du seul fait de son accès au site et de son utilisation.
                </p>
                <hr />
                <div>
                    <h3>Article I – Objet du site et accès au service</h3>
                    <p>
                        Le site internet du Groupe artistique Méli-Mélodies, ci-après dénommé Méli-Mélodies,
                        est accessible à l'adresse URL <a href="www.meli-melodies.fr" title="Meli-Melodies">www.meli-melodies.fr</a>
                    </p>
                    <p>
                        Ce site Internet a pour objet d'apporter la présentation, les informations pratiques et
                        toute l'actualité du Groupe artistique Méli-Mélodies. <br />
                        Ce site s'adresse à un large public.
                    </p>
                    <p>
                        L'accès au site est gratuit, accessible 24h/24h et 7 jours sur 7, sauf en cas de force majeure
                        (dysfonctionnements techniques, pannes, maintenances ou problèmes de réseaux). <br />
                        Il nécessite un matériel informatique qui n'est pas fourni par nos services et reste
                        à la charge de l'utilisateur. <br />
                        De ce fait, tous les coûts qui affèrent à l'accès du site, qu'ils soient des frais matériels,
                        logiciels ou d'accès à internet sont exclusivement à votre charge.
                    </p>
                    <p>
                        Vous vous engagez à ne pas troubler les protocoles de communication permettant au
                        site de fonctionner normalement.<br />
                        N’utilisez pas nos services de manière impropre. Ne tentez pas de troubler le bon fonctionnement
                        du site ou d'accéder à nos services en utilisant une méthode autre que l’interface et les instructions
                        que nous mettons à votre disposition.
                    </p>
                </div>
                <hr />
                <div>
                    <h3>Article II - Protection logicielle et informatique / Confidentialité</h3>
                    <h4>I. Protection logicielle</h4>
                    <p>
                        Lors de votre navigation sur notre site, vous pouvez également être amené à utiliser les services d'un ou plusieurs tiers. <br />
                        L'utilisation de ces services tiers peut être soumise aux politiques, conditions d'utilisation et à des frais de ces tiers.<br />
                        Ce site comporte des informations mises à disposition par des extérieurs ou des liens hypertextes vers
                        d'autres sites qui n'ont pas été développés par nos soins.
                    </p>
                    <p>
                        Si les conditions d'utilisation citées ci-dessus ne sont pas respectées, le site Méli-Mélodies se réserve le droit
                        de résilier votre accès au site, et ce à tout moment. De plus, ce dernier se réserve également le droit de supprimer
                        ou de refuser à tout moment, sans indiquer de motif et sans avis préalable, des informations classées par des utilisateurs
                        si nous estimons qu'elles sont en violation de la loi ou de notre règlement. <br />
                        Si nécessaire, les présentes Conditions Générales d'Utilisation peuvent être modifiées à tout moment et sans avis
                        préalable et seront appliquées immédiatement, nous vous recommandons donc de les consulter régulièrement. <br />
                        En cas de conflit entre ces Conditions d’Utilisation et des conditions d’utilisation additionnelles, ce sont ces
                        dernières qui prévalent. <br />
                        Si vous n’acceptez pas les modifications apportées à nos CGU, vous devez cesser toute utilisation de ce site.
                    </p>
                    <h4>II. Confidentialité</h4>
                    <p>
                        Le site Méli-Mélodies n'a pas été déclaré à la CNIL en vertu de la dispense n°8 – délibération n°2010-229 du 10 juin 2010
                        dispensant de déclaration les traitements automatisés de données à caractère personnel mis en œuvre par des
                        organismes à but non lucratif (abrogeant et remplaçant la délibération n°2006-130 du 09 mai 2006).
                    </p>
                    <p>
                        Ce site respecte votre vie privée, conformément à la loi Informatique et Libertés du 6 janvier 1978. <br />
                        Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
                        qui vous concernent (art. 32 et 34 de la loi "Informatique et Libertés").
                    </p>
                    <p>
                        Les informations identifiées que vous nous communiquez via notre formulaire de contact présents
                        sur le site, sont nécessaires pour répondre à votre demande. A défaut de communication de ces
                        informations, le traitement de sa demande pourrait être retardé voire rendu impossible.
                    </p>
                    <p>
                        Les informations que nous collectons nous servent à améliorer les services que nous vous proposons.
                        Il s'agit ici d'informations de base telles que votre langue, votre adresse IP ou encore votre adresse mail.
                        Les données collectées par le site à l'occasion de votre visite ne sont cédées, ni à titre gratuit ni
                        à titre onéreux.
                    </p>
                    <p>
                        Le site Méli-Mélodies décline toute responsabilité en cas d'usurpation d'identité.
                    </p>
                    <p>
                        Conformément à l'Article 226-1 du Code Pénal, nous nous engageons à ne diffuser sur ce site
                        que des supports (paroles prononcées à titre confidentiel, photos, vidéos, et tout autre fichiers...) pour
                        lequel des personnes concernées ont préalablement donné leur accord.
                    </p>
                </div>
                <hr />
                <div>
                    <h3>Article III - Propriété intellectuelle / Acceptation des CGU</h3>
                    <h4>I. Propriété intellectuelle</h4>
                    <p>
                        Ce site est soumis à la loi de la propriété intellectuelle.
                    </p>
                    <p>
                        L'ensemble des éléments constituant le site Internet Méli-Mélodies (textes, graphismes, images, photographies, sons, vidéos,
                        logos, etc...) sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou
                        exploitation partielle ou totale des contenus et services proposés par le site Méli-Mélodies, par quelque procédé
                        que ce soit, sans autorisation écrite et validée au préalable par le directeur des publications et par les membres
                        du Bureau de l'Association est strictement interdite et relève des législations françaises et internationales sur
                        les droits d'auteurs et les droits voisins du droit d'auteur. <br />
                        Une telle atteinte constitue une contrefaçon passible
                        de sanctions pénales, notamment au sens des articles L. 335-2 et L. 343.1 du code de la Propriété Intellectuelle.
                    </p>
                    <p>
                        Le site Méli-Mélodies ne peut pas être tenu pour responsable de la transmission défectueuse des données
                        d'Internet ni des erreurs matérielles qui pourraient se trouver dans les documents présents sur le site,
                        malgré tout le soin apporté à leur publication.
                    </p>
                    <p>
                        Le site Internet <a href="www.meli-melodies.fr" title="Meli-Melodies">www.meli-melodies.fr</a> et ses mentions légales sont soumis au droit français. <br />
                        Pour tout litige trouvant son origine dans l'utilisation de notre site, seules les juridictions françaises seront alors compétentes. <br />
                        Méli-Mélodies se réserve la possibilité de saisir toutes voies juridictionelles à
                        l'encontre des utilisateurs qui n'auraient pas respecté les interdictions contenues dans les présentes CGU.
                    </p>
                    <h4>II. Acceptation des conditions générales d'utilisation</h4>
                    <p>J'atteste avoir pris connaissance des conditions générales d'utilisation du site Internet <a href="www.meli-melodies.fr" title="Meli-Melodies">www.meli-melodies.fr</a> et les accepte.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
