{% extends 'app/layout.html.twig' %}

{% block body %}
    {#% include 'errors/503.html.twig' %#}
    <div class="row">
        <blockquote class="quote-card">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

            <cite>
                Lorem I psum
            </cite>
        </blockquote>
        <blockquote class="quote-card">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

            <cite>
                Lorem I psum
            </cite>
        </blockquote>
    </div>
{% endblock %}
