{% extends 'app/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            {% for new in news %}
                {% include 'admin/news/newsTemplate.html.twig' with {'news' : new} %}
            {% endfor %}
        </div>
        <div class="text-center col-md-2">
            <div id="social" class="well">
                <a class="social-fb" href="https://www.facebook.com/Méli-Mélodies-753219008068008/?fref=ts" title="Rejoignez nous sur Facebook" target="_blank"><i class="fa fa-facebook"></i> Méli-Mélodies</a> <br />
                <a class="social-yt" href="https://www.youtube.com/channel/UCx-TRoQdHQuYcMmeipHlEpA" title="Suivez-nous sur Youtube"><i class="fa fa-youtube"></i> Méli-Mélodies</a> <br />
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('a[data-toggle]').click(function (e) {
           if ('Masquer' === $(this).text()) {
               $(this).text('Lire la suite');
           } else {
               $(this).text('Masquer');
           }
        });
    </script>
{% endblock %}
