{% extends 'app/layout.html.twig' %}

{% block body %}
    <section id="cgu">
        <div class="row">
            <div class="well col-md-10 col-md-offset-1 text-justify">
                <h2 class="text-center">Mentions Légales</h2>
                <hr />
                <div>
                    <strong>Groupe artistique Méli-Mélodies</strong><br />
                    Association loi 1901 <br />
                    N° de parution au registre des associations : 19980024 <br />
                    Paru le : 13/06/1998 à la Préfecture du Rhône. <br />
                    Siège social  situé à  Meyzieu (69330), Hôtel de ville, place de l'Europe, en France. <br />
                    Numéro SIRET: 788 666 832 00019 <br />
                    N°W691069083
                </div>
                <address>
                    Téléphone: 06 77 75 04 44 <br />
                    Courriel: <a href="mailto:meli.melodies69@gmail.com" title="Nous contacter">meli.melodies69@gmail.com</a><br />
                </address>
                <hr />

                <p>
                    Ce site est hébergé par : La société Planet-work <br />
                    Société à Responsabilité Limitée (SARL) au capital de 50.000,00 € <br />
                    Immatriculée au Registre du Commerce et des Sociétés de Paris sous le n° 334 580 800 <br />
                    Filiale de AEG INVEST - SARL au capital de 571.321,00 € - RCS Paris B 753 746 304 <br />
                    Siège social : 231 rue Saint-Honoré, 75001 Paris - France <br />
                    Déclaration CNIL : n° 832740
                </p>
                <p>
                    Conception graphique, design et réalisation technique : Alex Makdessi et Caroline Dailly
                </p>
                <p>
                    Directeur de la publication: Caroline Dailly
                </p>
            </div>
        </div>
    </section>
{% endblock %}
