{% extends 'app/layout.html.twig' %}

{% block body %}
<section id="presentation">
    <div class="row">
        <div class="well text-center col-md-8 col-md-offset-2 text-justify" id="presentation-troupe">
            <h2 class="text-center">Présentation</h2>
            <p>
                Le "Groupe Artistique Méli-Mélodies" a été fondé en 1989 par Majolane et Jean Rodriguez
                (présidents d'honneur).
            </p>
            <p>
                Aujourd'hui, cette troupe de chanteurs partage sa passion de la musique en préparant des
                spectacles grandioses, orchestrés de main de maître par sa présidente Marjorie Rascol,
                aidée et soutenue par l'ensemble du groupe.
            </p>
            <p>
                Comédies musicales, spectacles crées de toute pièce, alliant mises en scènes, costumes,
                décors, figurants où les artistes sont à la fois chanteurs et comédiens, ravient un public toujours plus nombreux.
            </p>
            <p>
                Méli-Mélodies, c'est aussi des animations à la carte : mariages, anniversaires,
                maisons de retraite, kermesses, comités d'entreprise, thés dansants, matinées et soirées privées...
            </p>
            <p>
                Nous adaptons nos prestations* (style, nombre de chanteurs...) à vos attentes et vos désirs.
            </p>

            <p>
                Alors n'hésitez plus, faites appel à notre savoir faire et notre enthousiasme,
                vous ne serez pas déçus !
            </p>
            <p>
                <em>*Nos prestations comprennent le matériel de sonorisation. Devis sur demande à
                    <a href="mailto:meli.melodies69@gmail.com" title="Nous contacter" >meli.melodies69@gmail.com</a></em>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        {% for member in members %}
            <div class="col-md-3 col-sm-6">
                {% include 'admin/presentation/member_widget.html.twig' with { 'member' : member} %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.member-info').hover(function() {
            $(this).find('span.carret').attr('class', 'glyphicon glyphicon-menu-down carret');
        }, function() {
            $(this).find('span.carret').attr('class', 'glyphicon glyphicon-menu-up carret');
        });
    </script>
{% endblock %}
