/*
@font-face {
    font-family: 'madmoiselle-camille';
    src: url('../fonts/Mademoiselle_Camille_L.ttf');
}
@font-face {
    font-family: 'merveille';
    src: url('../fonts/Merveille.ttf');
}
*/

html, body {
    height: 100%;
}

/* Wrapper */
#content {
    min-height:100%;
    position:relative;
}

/*** HEADER/BANNER ***/
#banner {
    text-align: center;
}
#banner img {
    height: 200px;
}

/*** BODY ***/
#body {
    padding-bottom:170px; /* Footer Size + 20 px*/
}

/*** FOOTER ***/
footer.row {
    position:absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url('../img/footer-bg.png');
    color: white;
    -webkit-box-shadow: inset 0px 9px 11px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 9px 11px -2px rgba(0,0,0,0.4);
    box-shadow: inset 0px 9px 11px -2px rgba(0,0,0,0.4);
}

footer ul li {
    font-size: 14px;
}

footer h5, footer a,
footer h5, footer a:hover {
    color: white;
}

/*** INPUTS FIXES ***/
input[type="file"] {
    display: inline-block;
}
textarea { resize:vertical; }

/*** NAVBAR FIXES ***/
.navbar .navbar-nav.navbar-center {
    /* Changing the navbar disposition to center */
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    /* Changing the navbar disposition to center */
    text-align: center;
}
.navbar-brand {
    /* fix navbar brand Uppercase */
    text-transform: none;
}

/*** SOCIALS ***/
#social .social-fb {
    color: #3b5998
}
#social .social-yt {
    color: #FF3333
}

/*** PRESENTATION ***/
#presentation #presentation-troupe {
    padding-top : 5px;
}
#presentation #presentation-troupe h2 {
    margin-top: 0px;
}

/*** MEMBERS PRESENTATION ***/
#presentation .member {
    text-align: center;
}
.member div.member-container {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.member img {
    width: 200px;
    height: 200px;
}
.member div.member-info {
    padding: 2px;
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;
    left: 0;
    top: 155px;
    background-color: rgba(239, 228, 221, .8);
    /* hover out */
    -webkit-transition: top 200ms ease-out;
    -moz-transition: top 200ms ease-out;
    -ms-transition: top 200ms ease-out;
    -o-transition: top 200ms ease-out;
    transition: top 200ms ease-out;
}
.member div.member-info:hover {
    top: 0px;
    /* hover in */
    -webkit-transition: top 300ms ease-out;
    -moz-transition: top 300ms ease-out;
    -ms-transition: top 300ms ease-out;
    -o-transition: top 300ms ease-out;
    transition: top 300ms ease-out;
}
.member div.member-info span.carret {
    position: absolute;
    right: 3px;
    top: 3px;
}
.member div.member-info hr {
    margin: 7px;
    border-color: rgb(119, 119, 119);
}
.member div.member-info p {
    font-size: 14px;
}
