{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>Ajouter une gallerie</h1>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.category) }}
            <input type="submit" value="Ajouter une gallerie" class="btn btn-primary btn-block pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}